.container{
    /* background-color: #fff; */
     
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15px;
    color: #000; /* Black text color */
  }
  
  .sign-in {
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #00856f; /* Green text */
    background: transparent;
    border: 2px solid #00856f; /* Green border */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sign-in:hover {
    background: #00856f;
    color: #fff; /* White text on hover */
  }

  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #cde9dc; /* Light green background */
    border-radius: 10px; /* Rounded corners */
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .content {
    max-width: 50%; 
  }
  
  .content h4 {
    font-size: 1.2rem;
    color: #5a5a5a; /* Light gray */
    margin-bottom: 10px;
  }
  
  .content h1 {
    font-size: 2.5rem;
    color: #000; /* Black text */
    margin-bottom: 20px;
  }
  
  .explore-button {
    padding: 10px 20px;
    font-size: 1rem;
  
    color: #fff; /* White text */
    background-color: #004d40; /* Dark green */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .explore-button:hover {
    background-color: #00695c; /* Lighter green on hover */
  }
  
  .image-container {
    max-width: 40%;
  }
  
  .image-container img {
    width: 100%;
    border-radius: 5px;
  }

 

.pillars   {
    font-size: 1em;    
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.pillars .card0{
    display: inline-block;
    width: 250px;
    margin: 1%;
    padding: 10px;
    background-color: #aff2f3;
    border: 1px solid #ddd;  
    border-radius: 8px;
}
.pillars .card1 {
    display: inline-block;
    width: 250px;
    margin: 1%;
    padding: 10px;
    background-color: #b2f8e1;
    border: 1px solid #ddd;  
    border-radius: 8px;
}
.pillars .card2 {
    display: inline-block;
    width: 250px;
    margin: 1%;
    padding: 10px;
    background-color: #c9c592;
    border: 1px solid #ddd;  
    border-radius: 8px;
}
.pillars .card3 {
    display: inline-block;
    width: 250px;
    margin: 1%;
    padding: 10px;
    background-color: #d5de3a;
    border: 1px solid #ddd;  
    border-radius: 8px;
}
.Ccard{
    padding: 15px;
    border: 1px solid #ddd;  
    border-radius: 8px;
    background-color: #fafdfc;
    margin: 20px;
     
}
.flex
{
    margin: 20px;
}
.flex img{
    border-radius: 20px;
}
.DFlex{
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
}
.donate{
    margin: auto;
    display: flex;
 gap: 20px;
    justify-content: center;
}
.donate-text{
  text-align: center;
}
.donate-button1 {
  
    padding: 30px 35px;
    font-size: 1em;
    background-color: #fff;
    font-weight: bold;
    border: 1px solid #cde9dc;
    border-radius: 3px;
}
.donate-button2 {
 
    padding: 30px 35px;
    font-size: 1em;
    background-color:  #7ce3d7;
    font-weight: bold;
    border: 1px solid #cde9dc;
    border-radius: 3px;
}
.donaInput{
padding: 10px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid rgba(7, 1, 1, 0.575);
text-align: center;
width: 480px;
background-color: #ddd;
border-radius: 5px;
}
.subscribe{
    text-align: center;
    background-color: #8ceada;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}
.subscribeInput{
    padding: 10px;    
    border : none;   
    width: 480px;
    background-color: #ddd;
    border-radius: 5px;
     }
     .btn{
        padding: 10px 20px;  
    color: #fff; /* White text */
    background-color: #004d40; /* Dark green */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
     }
 .subscribeFlex{
    display: flex;
    justify-content: center;
    align-items: center;
 }

.input{
 text-align: center;
 margin-top: 20px;

}
.testimonial {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding:  20px;
  background-color: #f9f9f9;
   
   
}

.testimonial blockquote {
  margin: 0;
 
  color: #555;
 
}

.testimonial blockquote p {
  margin: 0 0 20px;
  line-height: 1.6;
  z-index: 2;
 
}

.testimonial blockquote footer {
  text-align: left;
  color: #333;
  z-index: 2;
  position: relative;
}

.testimonial blockquote footer strong {
  font-size: 1.1em;
  display: block;
}

.testimonial blockquote footer span {
  font-size: 0.9em;
  color: #777;
}

 

footer {
    
    
    padding: 10px;
    text-align: center;
}

footer a {
    color: #00a3a3;
    text-decoration: none;
    margin: 0 10px;
}
.hr{
    border: 1px solid rgb(246, 235, 213);
    width: 50%;
}